<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item href="/addmoney" routerDirection="forward">
  </ion-item>
  
  <div *ngFor="let user of user_accts">
    <ion-card>
      <ion-card-header>
        {{user.actType | uppercase}} ACCOUNT <br>
        <h1>{{user.actTotal | currency}}</h1>
      </ion-card-header>
      <ion-card-content>
        Account owner: {{user.actName}} <br>
        Account Number: {{user.actId}} <br>
        Routing Number: 000-000-000 <br>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>